.name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: black;
    color: #fff;
    padding: 4px;
    border-radius: 7px;
    text-decoration: none;

}
.line{
    margin-top: -5px;
    margin-bottom: 7px;
    height: 2px;
    width: 100%;
    background-color: black;
}
